extends lay

block content
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
        .col {
            float: left;
            width: 50%;
            margin: auto;
            padding: 0 50px;
            margin-top: 6px;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    h1 #{email}
    h1 Welcome
    h2
    img(src='https://github.githubassets.com/images/modules/logos_page/GitHub-Logo.png' alt='github' style='display: block; margin-left: auto; margin-right: auto')
    .row
        .col
            br
            br
            a(href=`/logingit/${email}`)
                button(style='font-size:24px' type='submit')
                    i.fa.fa-github(aria-hidden='true')  Get repository from Github
