extends layout

block layout-content
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css")
    table.ui.compact.celled.definition.table
        thead
            tr
                th
                th Repo Name
                th Issue Title
                th Issue Body